* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(248 203 116);
    color: white;
    font-family: "Poppins", sans-serif;
    padding-top: 110px;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 70px;
    background-color: black;
}

.nav {
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
}

nav ul {
    display: flex;
    justify-content: center;
}

nav ul li {
    list-style: none;
    margin: 0 25px;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

.left {
    font-size: 1.5rem;
    font-weight: 600;
}

.left a {
    text-decoration: none;
    color: white;
}

.construction {
    font-size: xx-large;
    width: 506px;
    height: 150px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.container {
    position: relative;
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    top: -100px;
    background-color: black;
    overflow: hidden;
    position: relative;
}

.hidden-text {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    z-index: 1;
    text-align: center;
    background: rgb(248 203 116);
    clip-path: circle(0% at 0 0);
    transition: clip-path 0.1s ease-out;
    font-size: xx-large;
    font-family: monospace;
}

.highlight {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    z-index: 2;
}

h1,
p {
    z-index: 2;
    position: relative;
}

.apple{
    
}